<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:replace="include/header :: head(~{::title}, ~{}, ~{})">
    <title th:text="${tag.name + ' - 标签'}">开发者客栈</title>
</div>
<body>
<div th:replace="include/navbar :: header"></div>

<div th:replace="include/container :: container_all(~{::content})">
    <content>
        <div class="tag-box">
            <div style="text-align: center;color: #666;">
                <span th:text="${tag.name}" style="font-size: 25px;line-height: 30px;font-weight: 700;margin-bottom: .3rem;"></span>
                <!--<span style="font-size: 12px;">（引用数：<span th:text="${tag.refCount}"></span>）</span>-->
            </div>
            <div th:text="${tag.desc}" style="text-align: center;color: #666;font-size: 14px;"></div>
        </div>

        <!-- 帖子列表 -->
        <div th:replace="include/article-list :: article_list(${postsList}, true, ${pager})"></div>
    </content>
</div>

<div th:replace="include/footer :: footer"></div>
</body>
</html>