<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="carousel(id, carouselList)" th:id="${id}" id="main_carousel" class="carousel slide" data-ride="carousel">
    <!-- 指示符 -->
    <ul class="carousel-indicators">
        <li th:each="carousel,iterStat : ${carouselList}"
            th:data-slide-to="${iterStat.index}"
            th:class="${iterStat.index == 0 ? 'active' : ''}"
            th:data-target="${'#' + id}"
            data-slide-to="0" class="active"
            data-target="#main_carousel"></li>
    </ul>
    <!-- 轮播图片 -->
    <div class="carousel-inner">
        <div th:each="carousel,iterStat : ${carouselList}"
             th:class="${'carousel-item ' + (iterStat.index == 0 ? 'active' : '')}"
             class="carousel-item active">
            <img th:src="${carousel.img}" src="https://static.runoob.com/images/mix/img_fjords_wide.jpg">
            <div class="carousel-caption d-none d-sm-block">
                <h5 style="padding: 15px; background-color: rgba(255,255,255,0.5);">
                    <a th:href="${carousel.href}" th:text="${carousel.title}" href="#" target="_blank">First slide label</a>
                </h5>
                <!--<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
            </div>
        </div>
    </div>
    <!-- 左右切换按钮 -->
    <a class="carousel-control-prev" th:href="${'#' + id}" href="#main_carousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" th:href="${'#' + id}" href="#main_carousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

</html>