<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="img_card(title, imgUrl, activeUrl)">

    <div th:if="${!#strings.isEmpty(imgUrl)}" class="card">
        <div class="card-header" style="background-color: white;">
            <span th:text="${title}">官方微信</span>
        </div>
        <div class="card-body">
            <a th:href="${activeUrl}" target="_blank">
                <div class="row" style="text-align: center">
                    <img th:src="${imgUrl}" style="width: 80%;height: 80%;margin: 0 auto;">
                </div>
            </a>
        </div>
    </div>
</div>

</html>