<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pub.developers.forum.infrastructure.dal.dao.TagDAO">

    <resultMap id="resultMap" type="pub.developers.forum.infrastructure.dal.dataobject.TagDO">
        <id column="id" property="id"/>
        <id column="is_delete" property="isDelete"/>
        <id column="create_at" property="createAt"/>
        <id column="update_at" property="updateAt"/>

        <result column="audit_state" property="auditState"/>
        <result column="group_name" property="groupName"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="ref_count" property="refCount"/>
        <result column="creator_id" property="creatorId"/>
    </resultMap>

    <sql id="all_column">
        id, is_delete, create_at, update_at,
        audit_state, group_name, name, description, ref_count, creator_id
    </sql>

    <sql id="table_name">forum_tag</sql>

    <sql id="where_clause_do" >
        <trim prefix="where" prefixOverrides="and|or" >
            is_delete = 0
            <if test="auditState != null">
                and audit_state = #{auditState}
            </if>
            <if test="groupName != null">
                and group_name like concat('%', #{groupName}, '%')
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="description != null">
                and description like concat('%', #{description}, '%')
            </if>
            <if test="refCount != null">
                and ref_count = #{refCount}
            </if>
            <if test="creatorId != null">
                and creator_id = #{creatorId}
            </if>
        </trim>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="pub.developers.forum.infrastructure.dal.dataobject.TagDO">
        INSERT INTO <include refid="table_name"/>
        ( audit_state, group_name, name, description, ref_count, creator_id, create_at )
        VALUES
        (
        #{auditState},
        #{groupName},
        #{name},
        #{description},
        #{refCount},
        #{creatorId},
        #{createAt}
        )
    </insert>

    <select id="query" parameterType="pub.developers.forum.infrastructure.dal.dataobject.TagDO" resultMap="resultMap">
        SELECT <include refid="all_column"/>
        FROM <include refid="table_name"/>
        <include refid="where_clause_do"/>
        ORDER BY create_at DESC
    </select>

    <select id="queryInIds" resultMap="resultMap">
        SELECT <include refid="all_column"/>
        FROM <include refid="table_name"/>
        where id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <update id="update" parameterType="pub.developers.forum.infrastructure.dal.dataobject.TagDO">
        update <include refid="table_name"/>
        <set>
            <if test ='null != isDelete'>is_delete = #{isDelete},</if>
            <if test ='null != auditState'>audit_state = #{auditState},</if>
            <if test ='null != groupName'>group_name = #{groupName},</if>
            <if test ='null != name'>name = #{name},</if>
            <if test ='null != description'>description = #{description},</if>
            <if test ='null != refCount'>ref_count = #{refCount},</if>
            <if test ='null != creatorId'>creator_id = #{creatorId}</if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="increaseRefCount">
        update <include refid="table_name"/>
        set ref_count = ref_count + 1
        where id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="decreaseRefCount">
        update <include refid="table_name"/>
        set ref_count = ref_count - 1
        where id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="get" resultMap="resultMap">
        SELECT <include refid="all_column"/>
        FROM <include refid="table_name"/>
        where id = #{id}
    </select>

</mapper>