<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pub.developers.forum.infrastructure.dal.dao.UserFoodDAO">

    <resultMap id="resultMap" type="pub.developers.forum.infrastructure.dal.dataobject.UserFoodDO">
        <id column="id" property="id"/>
        <id column="is_delete" property="isDelete"/>
        <id column="create_at" property="createAt"/>
        <id column="update_at" property="updateAt"/>

        <result column="user_id" property="userId"/>
        <result column="posts_id" property="postsId"/>
    </resultMap>

    <sql id="allColumn">id ,is_delete ,create_at ,update_at ,user_id ,posts_id</sql>

    <sql id="tableName">forum_user_food</sql>

    <insert id="insert" parameterType="pub.developers.forum.infrastructure.dal.dataobject.UserFoodDO">
        INSERT INTO <include refid="tableName"/> (
        is_delete,
        create_at,
        update_at,
        user_id,
        posts_id
        )
        VALUES (
        #{isDelete},
        #{createAt},
        #{updateAt},
        #{userId},
        #{postsId}
        )
    </insert>

    <select id="query" resultMap="resultMap">
        select <include refid="allColumn"/>
        from <include refid="tableName"/>
        where user_id = #{userId}
        order by id desc
    </select>

    <delete id="deleteByPostsId">
        delete from <include refid="tableName"/>
        where posts_id = #{postsId}
    </delete>

</mapper>